services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
  xsw:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        BASE_URL: $BASE_URL
        INDEX_URL: $INDEX_URL
        TRUSTED_HOST: $TRUSTED_HOST
        AUTH_ENABLED: ${AUTH_ENABLED:-true}
